@import url(/css/fonts.css);
:root {
    --wrapper-text-color: #fff;
    --navigation-page-padding: 6px 10px;
    --animation-links: transition: all 0.2s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: 'OpenSans', Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-style: normal;
}

li {
    list-style: none;
}

p {
    font-family: 'RobotoSlab', Georgia, serif;
    font-size: 1.2em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 210px;
    grid-template-areas: "header-wrapper header-wrapper" "main sidebar-right" "footer footer";
    grid-template-rows: auto auto auto;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    border-left: 1px solid rgba(240, 193, 152, 0.63);
    border-right: 1px solid rgba(240, 193, 152, 0.63);
}

.header-wrapper {
    grid-area: header-wrapper;
}

.header {
    display: grid;
    grid-template-columns: 210px;
}

.header .logo {
    margin-left: 20px;
}

.logo h1 {
    background: linear-gradient(to bottom, #ea8a35 0%, #ff740a 100%);
    text-align: center;
    padding: 4px 0;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
}


/*Горизонтальное меню*/

.nav {
    background-color: #380761;
}

.nav__menu {
    display: flex;
    flex-flow: wrap;
}

.nav__menu li {
    border-right: 1px solid #9f9f9f;
}

.nav__menu a {
    color: azure;
    text-align: center;
    padding: 11px 0px;
    width: 135px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.9em;
}

.menu__active {
    background-color: #003bff;
}

.nav ul li a:hover {
    background-color: #003bff;
    transition: var(--animation-links);
}

.nav ul li {
    position: relative;
}

.nav ul li a i.fas {
    position: absolute;
    top: 12px;
    right: 14px;
}

.nav li ul {
    position: absolute;
    min-width: 135px;
    display: none;
    background-color: #490a7c;
    z-index: 1;
}

.nav li:hover ul {
    display: block;
}

.dropdown li {
    border-bottom: 1px solid rgba(192, 192, 192, 0.575);
    border-right: none;
}

.dropdown li a {
    font-size: 0.7em;
    padding: 6px 0;
    font-weight: 600;
    font-style: normal;
}

.nav__menu li:last-of-type {
    border-right: none;
}


/*Конец,Горизонтальное меню*/

.main {
    grid-area: main;
    padding: 0 12px;
    margin: 10px 0;
    display: -ms-grid grid;
    grid-template-rows: auto auto auto 100px;
}


/*Начало статьи*/

.post__preview {
    padding: 10px 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.58);
    max-width: 600px;
    margin: 0 auto;
}

.post__preview .post__hubs,
.post__full .post__hubs {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 20px 15px;
}

.post__hubs li {
    padding: 0 5px;
}

.post__hubs a {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    font-style: normal;
    color: #3f3f3f;
}

.post__preview .post__title a {
    padding: 4px 8px;
    color: #2c2c97;
    display: block;
    background-color: #f8e3a0;
    font-size: 1em;
}

.post__preview .post__title a:hover {
    color: #1e1ec5;
}

.post__text {
    font-size: 1em;
}

.post__date {
    font-size: 0.8em;
    color: #6d6d6d;
    padding: 12px 0 10px 15px;
    font-weight: normal;
    font-style: italic;
}

.post__date span {
    border: 1px dashed #ee842d;
    padding: 4px;
    display: inline-block;
}

.post__btn {
    width: 100px;
    padding: 9px 7px;
    background-color: #eaeaeb;
    color: #6277ee;
    text-align: center;
    margin: 30px 0 15px 15px;
    border-radius: 6px;
    font-size: 0.9em;
    border: 1px solid #b2b2db;
}

.post__btn:hover {
    background-color: #0026ff;
    color: azure;
    border: 1px solid rgba(89, 89, 230, 0.603);
}


/*Конец статьи*/


/*Внешняя страница статьи*/

.post__full {
    max-width: 600px;
    margin: 0 auto;
}

.post__full h3 {
    margin: 8px 0 18px 5px;
    font-size: 1.5em;
}

.text__full {
    margin: 2px 0;
}

.title__full {
    font-size: 1.6em;
    border-bottom: 2px solid rgba(238, 132, 45, 0.596);
}


/*Начало навигации по страницам*/

.navigation__pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px 0;
}

.navigation__pages li {
    margin: 0 1px;
    font-weight: normal;
    font-style: normal;
}

.page__link.page__active {
    background-color: #1900ff;
    color: #fff;
    cursor: default;
}

.navigation__pages a {
    padding: var(--navigation-page-padding);
    background-color: #eeeeee;
    color: #0515ff;
}

.navigation__pages li a:hover {
    color: #fff;
    background-color: #0004ff;
}


/*Конец навигации по страницам*/


/*Начало правого сайдбара*/

.sidebar__right {
    grid-area: sidebar-right;
}

.sidebar__categories a,
.sidebar__links a {
    background: #ffeab1;
    padding: 6px 0 6px 55px;
    display: block;
    color: #097c8b;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    border-bottom: 1px solid rgba(204, 159, 34, 0.445);
}

.sidebar__categories,
.links li:last-child {
    border-bottom: none;
}

.sidebar__categories,
.links li:first-child {
    border-bottom: none;
}

.sidebar__categories ul li {
    position: relative;
}

.sidebar__categories {
    margin-top: 6px;
}

.sidebar__categories .fas {
    position: absolute;
    top: 9px;
    left: 14px;
}

.sidebar__categories ul li:hover a {
    color: #fdfdfd;
    background: linear-gradient(to bottom, #128ae5 -1%, #0084e2 0%, #3a41ff 100%);
    transition: var(--animation-links);
}


/*выпадающее меню, НАЧАЛО*/

.sidebar__categories ul li ul {
    display: none;
    background-color: #ffffff;
}

.sidebar__categories li ul.sub__menu li a {
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    color: #3c6f75;
    font-size: 0.9em;
    border-bottom: 1px solid #d1d1d1;
}

.sidebar__categories li ul.sub__menu li a:hover {
    background: linear-gradient(to bottom, #a9e4f7 0%, #0fb4e7 100%);
}

.sidebar__categories ul li:hover ul {
    display: block;
    transition: all 5s ease 5s;
}


/*выпадающее меню, КОНЕЦ*/

.categories__list,
.resources__links {
    background-color: #070707;
    text-align: center;
    padding: 7px 0;
    color: azure;
    font-size: 1.1em;
    font-weight: bold;
    font-style: normal;
}

.sidebar__links .links__item {
    font-size: 0.9em;
}

.sidebar__links a:hover {
    text-decoration: underline;
}


/*Конец правого сайдбара*/


/*Подвал сайта, начало*/

.footer {
    grid-area: footer;
    background-color: #000000;
    color: azure;
    display: grid;
    grid-template-rows: 100px auto;
}


/*Верхний футер, контакты*/

.footer__top .contact {
    padding: 22px 8px 0 16px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    background-color: #e49724;
}

.contact__reach {
    color: #4b3011;
    padding-bottom: 5px;
    font-size: 1em;
}

.contact p span {
    color: #fff;
    font-size: 0.6em;
}

.mail__contact {
    color: #fff;
    font-size: 0.8em;
    padding-left: 3px;
}

.footer__top .social__item {
    display: flex;
    padding: 5px;
    align-items: center;
    flex-flow: wrap;
}

.footer__top .social__item li {
    margin-right: 3px;
    background-color: #e2e2e2;
    border-radius: 2px;
    border: 1px solid rgba(167, 167, 167, 0.507);
}

.footer__top .social__item li:hover {
    background-color: #9ec977;
    transition: var(--animation-links);
}

.footer__top .social__item i {
    padding: 4px 4px;
    align-items: center;
    font-size: 1.3em;
}

.footer__top .social__item .fa-twitter:before {
    color: #1da1f2;
}

.footer__top .social__item .fa-vk:before {
    color: #5181b8;
}

.footer__top .social__item .fa-youtube:before {
    color: #ff0101;
}

.footer__top .social__item .fa-pinterest:before {
    color: #c70a1f;
}


/*Верхний футер, контакты. Конец*/

.footer__bottom .copyright {
    font-size: 0.8em;
    display: grid;
}

.copyright p {
    grid-column: 2/2;
    padding: 20px 0 10px 0;
}