.sub__menu .sub__menu-active {
    background-color: rgb(62, 158, 241);
    color: aliceblue;
}

.sub__menu a:hover {
    background-color: var(--background-color-hover);
    transition: var(--animation-links);
    border: none;
}

.sidebar__categories ul li .list__menu-active {
    display: block;
}

.sub__menu .categories__submenu li a {
    background: rgb(255, 233, 188);
    border-bottom: 1px solid #5c442e62;
    font-size: 0.8em;
}

.sidebar__categories .submenu__list li a {
    background: rgb(255, 244, 223);
    font-size: 0.7em;
    border-bottom: 1px solid #68544338;
}

.categories__submenu {
    border: 1px solid rgba(110, 107, 102, 0.425);
}

.submenu__list {
    border: 1px solid rgba(143, 139, 132, 0.288);
}